<div>

    <!-- PERSONAL INFO CARD -->
    <md-card flex="100">

        <md-card-title>
            <md-card-title-text>
                <div layout="row" class="home-view-title">
                    <span flex="75" class="md-headline ">{{refjson.selected_contact.name}}</span>
                    <span flex="25" class="md-headline ">{{refjson.selected_contact.mobile}}</span>
                </div>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <div layout="row">
                <div flex="10">
                    <md-button class="md-fab  md-mini md-primary" aria-label="Short Name">
                        <ng-md-icon icon="place" class="md-avatar" size="18"></ng-md-icon>
                    </md-button>
                </div>

                <div flex="25">
                    <div ng-if="refjson.selected_contact.type=='C'">
                        <span class="md-title">{{refjson.selected_contact.address}}</span><br/>
                        <span class="md-subhead">{{refjson.selected_contact.city}}</span><br/>
                        <span class="md-subhead">{{refjson.selected_contact.landmark}}</span><br/>
                    </div>
                    <div ng-if="refjson.selected_contact.type=='D'">
                        <span class="md-title">{{refjson.selected_contact.cab}}</span><br/>
                        <span class="md-subhead">Taxi Stand</span><br/>
                    </div>
                </div>

                <div flex-offset="10" flex="35">
                </div>

                <div flex>
                    <div layout="column">
                    </div>
                </div>
            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-chips>
                <md-chip class="md-caption">
                    <ng-md-icon icon="place" class="md-avatar" size="18"></ng-md-icon>
                </md-chip>
                <md-chip class="md-caption">
                    <ng-md-icon icon="favorite" class="md-avatar" size="18"></ng-md-icon>
                </md-chip>
                <md-chip class="md-caption">
                    <ng-md-icon icon="stars" class="md-avatar" size="18"></ng-md-icon>
                </md-chip>
            </md-chips>
        </md-card-actions>
    </md-card>


    <!-- TIME LINE ROW -->
    <div layout="row" layout-align="center center">
        <md-button flex="100" class="md-raised md-primary">
            TRAVEL TIME LINE
        </md-button>
    </div>

    <!-- DETAIL CARD -->
    <md-card flex="100" ng-repeat="item in refjson.selected_contact.time_line_list" ng-click="null">
        <md-card-content>
            <div layout="row">
                <div flex="10">
                    <md-button class="md-fab  md-mini" ng-class="{'md-primary': refjson.selected_contact.type =='C'}" aria-label="Short Name">
                        <span ng-if="refjson.selected_contact.type =='D'">{{item.passanger.icon_aplphabates}}</span>
                        <span ng-if="refjson.selected_contact.type =='C'">{{item.driver.icon_aplphabates}}</span>
                    </md-button>
                </div>

                <div flex="25">
                    <div ng-if="refjson.selected_contact.type=='C'">
                        <span class="md-title">{{item.driver.name}}</span><br/>
                        <span class="md-subhead">{{item.driver.cab}}</span><br/>
                    </div>
                    <div ng-if="refjson.selected_contact.type=='D'">
                        <span class="md-title">{{item.passanger.name}}</span><br/>
                        <span class="md-subhead">{{item.passanger.mobile}}</span><br/>
                    </div>
                </div>

                <div flex-offset="10" flex="35">

                    <!--
                    <div layout="column">
                        <span class="md-subhead">{{item.passanger.address}} </span>
                        <span class="md-subhead">&nbsp; to </span>
                        <span class="md-subhead">{{item.dest_address}} </span>
                    </div>
                    -->
                </div>

                <div flex>
                    <div layout="column">
                        <span>{{item.booking_time | date:'dd MMM yy HH:mm'}}</span>
                        <span class="md-headline ">
                            <ng-md-icon icon="check_box" class="md-avatar" style="fill:green; margin-top:10px" size="40"></ng-md-icon> 
                        </span>
                    </div>
                </div>
            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="start center">
            <md-chips>
                <md-chip class="md-caption">
                    <ng-md-icon icon="place" class="md-avatar" size="18"></ng-md-icon>
                    {{item.passanger.address}}
                </md-chip>
                <md-chip class="md-caption">
                    <ng-md-icon icon="pin_drop" class="md-avatar" size="18"></ng-md-icon>
                    {{item.dest_address}}
                </md-chip>
                <md-chip class="md-caption">
                    <ng-md-icon icon="attach_money" class="md-avatar" size="18"></ng-md-icon>
                    Fare - {{item.fare}}
                </md-chip>
            </md-chips>
        </md-card-actions>

    </md-card>
</div>