<style>
    .selectedIndex {
        background: lightskyblue;
    }
</style>


<!-- Container #2 -->
<div layout="row">

    <!-- Container #3 -->
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                Let's Connect
            </div>
        </md-toolbar>

        <md-input-container md-no-float style="margin-bottom:-20px;">
            <input class="md-headline" ng-model="refjson.search_text" type="text" placeholder="Search" ng-change="search_filter()">
        </md-input-container>

        <md-list style="height:84vh; overflow-y:scroll ">
            <!-- List item #1 -->
            <md-list-item class="md-2-line" ng-class="{selectedIndex: item.selected===true}" ng-repeat="item in refjson.contact_list" ng-click="left_nav_list_user_item_click(item)">
                <ng-md-icon icon="{{item.icon}}" class="md-avatar" size="40" style="fill: rgba(123, 38, 11, 0.48)"></ng-md-icon>

                <div class="md-list-item-text">
                    <h3>{{item.name}}</h3>
                    <p>{{item.mobile}}</p>
                </div>

                <span class="md-secondary md-caption">{{item.last_pickup_date | date:'dd MMM yy'}}</span>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <div flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                {{refjson.selected_contact.name}} - {{refjson.selected_contact.mobile}}
            </div>
        </md-toolbar>

        <!--
        <md-card flex-offset="5" flex="85">
            <md-card-content>

            </md-card-content>
        </md-card>
        -->

        <md-card flex-offset="5" flex="85" style="height:82vh; overflow-y:scroll ">
            <md-card-content ng-repeat="item in refjson.travel_detal_list" ng-click="null">
                <div layout="row">
                    <div flex="10">
                        <ng-md-icon icon="directions_car" class="md-avatar" size="70" style="fill: rgba(123, 38, 11, 0.48)"></ng-md-icon>
                    </div>

                    <div flex="25">
                        <span class="md-headline">{{item.driver}}</span><br/>
                        <span class="md-subhead">{{item.cab}}</span><br/>
                        <!--<span>Fare - {{item.fare}}</span>-->
                    </div>

                    <div flex-offset="10" flex="45">
                        <br/>
                        <span class="md-subhead">KHG - AIRPORT</span>
                    </div>

                    <div>
                        {{item.booking_time | date:'dd MMM yy'}}
                    </div>
                </div>
                <md-divider></md-divider>
            </md-card-content>
        </md-card>


        <md-card flex-offset="5" flex="85" class="md-primary">

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button aria-label="menu" class="md-icon-button">
                        <ng-md-icon icon="menu" size="20" style="fill: white"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>

        </md-card>
    </div>
</div>