<style>
    .selectedIndex {
        background: lightskyblue;
    }
</style>


<md-toolbar layout="row">
    <h4> Let's Connect</h4>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1" style="height:90vh">
        <md-list>
            <!-- List item #1 -->
            <md-list-item class="md-2-line" ng-class="{selectedIndex: selectedIndex===$index}" ng-repeat="item in refjson.contact_list" ng-click="fnReviewEmployeeId($index)">
                <ng-md-icon icon="{{item.icon}}" class="md-avatar" size="40" style="fill: rgba(123, 38, 11, 0.48)"></ng-md-icon>

                <div class="md-list-item-text">
                    <h3>{{item.name}}</h3>
                    <p>{{item.mobile}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-sidenav>



    <!-- Container #4 -->
    <md-content flex id="content">
        Hello World
    </md-content>

</div>