<style>
    .selectedIndex {
        background: lightskyblue;
    }
</style>


<md-toolbar layout="row" layout-padding>
    <div flex="25" class="md-whiteframe-z">
        Let's Connect
    </div>

    <div flex class="md-whiteframe-z" style="margin-left:-50px">
        <!--<ng-md-icon icon="{{refjson.selected_contact.icon}}" size="30" style="fill: rgb(218, 205, 201)"></ng-md-icon>-->
        {{refjson.selected_contact.name}} - {{refjson.selected_contact.mobile}}
    </div>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1" style="height:90vh">
        <md-input-container md-no-float style="margin-bottom:-20px;">
            <input ng-model="refjson.search_text" type="text" placeholder="Search" ng-change="search_filter()">
        </md-input-container>

        <md-list>
            <!-- List item #1 -->
            <md-list-item class="md-2-line" ng-class="{selectedIndex: item.selected===true}" ng-repeat="item in refjson.contact_list" ng-click="left_nav_list_user_item_click(item)">
                <ng-md-icon icon="{{item.icon}}" class="md-avatar" size="40" style="fill: rgba(123, 38, 11, 0.48)"></ng-md-icon>

                <div class="md-list-item-text">
                    <h3>{{item.name}}</h3>
                    <p>{{item.mobile}}</p>
                </div>

                <span class="md-secondary md-caption">{{item.last_pickup_date | date:'dd MMM yy'}}</span>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-sidenav>



    <!-- Container #4 -->
    <md-content flex id="content">
        Hello World
    </md-content>

</div>